In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import glob
import os

### Import & Merge County Data

In [2]:
#Import multiple CSV files into 1 dataframe
path= os.path.join("Resources", "CountyWeather")
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    #Add a new column that recognizes the name of the CSV file
    df['COUNTY'] = os.path.basename(filename)
    li.append(df)

county_df = pd.concat(li, axis=0, ignore_index=True)
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-01,NaN,NaN,NaN,NaN,45.4,",U",60.6,",,,U",30.3,",,,U",Monterey.csv
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-02,NaN,NaN,NaN,NaN,48.5,",U",64.7,",,,U",32.2,",,,U",Monterey.csv
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-03,NaN,NaN,NaN,NaN,58.2,",U",75.8,",,,U",40.6,",,,U",Monterey.csv
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-04,NaN,NaN,NaN,NaN,63.5,",U",81.5,",,,U",45.6,",,,U",Monterey.csv
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-05,NaN,NaN,NaN,NaN,67.2,",U",84.9,",,,U",49.4,",,,U",Monterey.csv

### Review & cleanse data

In [3]:
#Drop excess columns
county_df = county_df.drop(['ELEVATION','PRCP_ATTRIBUTES','TAVG_ATTRIBUTES','TMAX_ATTRIBUTES',
                            'TMIN_ATTRIBUTES','AWND_ATTRIBUTES'],1)
county_df.tail()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
78158,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2012-12,NaN,8.21,NaN,NaN,NaN,Alameda.csv
78159,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-01,NaN,0.38,NaN,NaN,NaN,Alameda.csv
78160,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-02,NaN,0.50,NaN,NaN,NaN,Alameda.csv
78161,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-03,NaN,0.92,NaN,NaN,NaN,Alameda.csv
78162,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-04,NaN,1.39,NaN,NaN,NaN,Alameda.csv

In [4]:
#Confirm datatypes for each column
county_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78163 entries, 0 to 78162
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    78163 non-null  object
 1   NAME       78163 non-null  object
 2   LATITUDE   78163 non-null  float64
 3   LONGITUDE  78163 non-null  float64
 4   DATE       78163 non-null  object
 5   AWND       6557 non-null   float64
 6   PRCP       59293 non-null  float64
 7   TAVG       43168 non-null  float64
 8   TMAX       43802 non-null  float64
 9   TMIN       43692 non-null  float64
 10  COUNTY     78163 non-null  object
dtypes: float64(7), object(4)
memory usage: 6.6+ MB

In [5]:
#Check for null data
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
AWND          6557
PRCP         59293
TAVG         43168
TMAX         43802
TMIN         43692
COUNTY       78163
dtype: int64

In [6]:
# Drop the .csv from the County column
county_df['COUNTY'] = county_df['COUNTY'].str.replace(r'\.csv', '')
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,NaN,45.4,60.6,30.3,Monterey
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,NaN,48.5,64.7,32.2,Monterey
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,NaN,58.2,75.8,40.6,Monterey
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,NaN,63.5,81.5,45.6,Monterey
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,NaN,67.2,84.9,49.4,Monterey

In [7]:
# Collapse SD1 & SD2, LA1 & LA2
county_df['COUNTY'] = county_df['COUNTY'].str.replace(r'(_).*', '')
county_df.head()

# dataframe.column.str.replace("(::).*","")

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,NaN,45.4,60.6,30.3,Monterey
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,NaN,48.5,64.7,32.2,Monterey
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,NaN,58.2,75.8,40.6,Monterey
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,NaN,63.5,81.5,45.6,Monterey
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,NaN,67.2,84.9,49.4,Monterey

### Drop unneeded data
AWND, TAVG & TMIN

In [8]:
#Drop columns
county_df = county_df.drop(['AWND','TAVG','TMIN',],1)
# county_df.tail()
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
PRCP         59293
TMAX         43802
COUNTY       78163
dtype: int64

In [9]:
#Drop null data from PRCP
# county_df = county_df.dropna(subset = ['PRCP'])
# county_df.count()

## Calculate average for missing data

### Calculate PRCP averages

In [10]:
#Alt option
#Split NaNs into separate DF (keep index), then do .loc on COUNTY to replace prcp with the average
#Then merge back

In [11]:
# Split the PRCP NaNs into seperate DF
county_prcp_nan_df = county_df[county_df['PRCP'].isna()]
county_prcp_nan_df

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,64.7,Monterey
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,75.8,Monterey
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,81.5,Monterey
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,84.9,Monterey
...,...,...,...,...,...,...,...,...
77978,USC00046144,"NEWARK, CA US",37.5147,-122.0325,2012-01,NaN,59.9,Alameda
77979,USC00046144,"NEWARK, CA US",37.5147,-122.0325,2012-02,NaN,62.1,Alameda
77980,USC00046144,"NEWARK, CA US",37.5147,-122.0325,2012-03,NaN,62.0,Alameda
77981,USC00046144,"NEWARK, CA US",37.5147,-122.0325,2012-04,NaN,67.1,Alameda
77983,USC00046144,"NEWARK, CA US",37.5147,-122.0325,2012-06,NaN,75.1,Alameda

In [12]:
# Check to make sure PRCP = 0
county_prcp_nan_df.count()

STATION      18870
NAME         18870
LATITUDE     18870
LONGITUDE    18870
DATE         18870
PRCP             0
TMAX         18603
COUNTY       18870
dtype: int64

In [13]:
# Calculate the mean precipitation by county (now that NaNs are removed)
avg_prcp_df = county_df.groupby(['COUNTY','DATE'])['PRCP'].mean().reset_index()
avg_prcp_df

       COUNTY     DATE      PRCP
0     Alameda  2012-01  2.131176
1     Alameda  2012-02  0.882000
2     Alameda  2012-03  5.214286
3     Alameda  2012-04  2.956875
4     Alameda  2012-05  0.036250
...       ...      ...       ...
4903     Yuba  2019-08  0.000000
4904     Yuba  2019-09  1.492000
4905     Yuba  2019-10  0.090000
4906     Yuba  2019-11  2.236000
4907     Yuba  2019-12  9.894000

[4908 rows x 3 columns]

In [24]:
#Merge PRCP data into main DF
county_prcp_df = pd.merge(county_prcp_nan_df, avg_prcp_df, on="COUNTY")
county_prcp_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,DATE_x,PRCP_x,TMAX,COUNTY,DATE_y,PRCP_y
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,2013-01,1.181500
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,2013-02,0.660526
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,2013-03,0.725000
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,2013-04,0.407778
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,2013-05,0.030588

In [25]:
#Drop excess columns & rename "_y" Columns
county_prcp_df = county_prcp_df.drop(['PRCP_x','DATE_x'],1)
county_prcp_df = county_prcp_df.rename(columns={'PRCP_y':'PRCP','DATE_y':'DATE'})
county_prcp_df.tail()

,STATION,NAME,LATITUDE,LONGITUDE,TMAX,COUNTY,DATE,PRCP
1732395,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-08,0.000000
1732396,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-09,0.248824
1732397,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-10,0.006471
1732398,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-11,0.994706
1732399,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-12,3.758889

In [22]:
county_prcp_df.count()

STATION      1732400
NAME         1732400
LATITUDE     1732400
LONGITUDE    1732400
TMAX         1707397
COUNTY       1732400
DATE         1732400
PRCP         1730618
dtype: int64

In [26]:
county_prcp_df

,STATION,NAME,LATITUDE,LONGITUDE,TMAX,COUNTY,DATE,PRCP
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,60.6,Monterey,2013-01,1.181500
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,60.6,Monterey,2013-02,0.660526
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,60.6,Monterey,2013-03,0.725000
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,60.6,Monterey,2013-04,0.407778
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,60.6,Monterey,2013-05,0.030588
...,...,...,...,...,...,...,...,...
1732395,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-08,0.000000
1732396,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-09,0.248824
1732397,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-10,0.006471
1732398,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-11,0.994706
1732399,USC00046144,"NEWARK, CA US",37.5147,-122.0325,75.1,Alameda,2019-12,3.758889

### Calculate TMAX averages

### Calculate monthly precipitation

## This won't work yet because the index has different # of records than the sum

In [ ]:
#Calculate monthly precipitation (sum all stations per county)
# test_df['monthly_prcp'] = county_df.groupby(['COUNTY','DATE'])['PRCP'].sum()
# test_df

In [ ]:
#Option 2
# county_df.assign(monthly_prcp=county_df.COUNTY.map(county_df.groupby(['COUNTY','DATE'])['PRCP'].sum()))

In [ ]:
# #Drop all columns except COUNTY, date, prcp
# county_df_prcp = county_df_prcp.drop(['LATITUDE','LONGITUDE','TAVG','TMAX',
#                             'TMIN','AWND'],1)
# county_df_prcp = county_df_prcp.rename(columns={'PRCP': 'MONTHLY_PRCP'})
# county_df_prcp.tail()a

In [ ]:
#Add monthly precipitation to county_df
# test_df = pd.merge(county_df, county_df_prcp,how='left', 
#                    left_on=['COUNTY','COUNTY'], right_on = ['DATE','DATE'])
# test_df.tail()

# Change wildfire data to by year, month, year-month; pull out time into separate column
# Export CSVs so everyone has the same data

In [27]:
county_df.to_csv("Resources/county_clean_test.csv")

In [28]:
avg_prcp_df.to_csv("Resources/avg_prcp_df.csv")