In [1]:
#Import dependencies
import pandas as pd
import numpy as np
import glob
import os

### Import & Merge County Data

In [2]:
#Import multiple CSV files into 1 dataframe
path= os.path.join("Resources", "CountyWeather")
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    #Add a new column that recognizes the name of the CSV file
    df['COUNTY'] = os.path.basename(filename)
    li.append(df)

county_df = pd.concat(li, axis=0, ignore_index=True)
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,AWND_ATTRIBUTES,PRCP,PRCP_ATTRIBUTES,TAVG,TAVG_ATTRIBUTES,TMAX,TMAX_ATTRIBUTES,TMIN,TMIN_ATTRIBUTES,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-01,NaN,NaN,NaN,NaN,45.4,",U",60.6,",,,U",30.3,",,,U",Monterey.csv
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-02,NaN,NaN,NaN,NaN,48.5,",U",64.7,",,,U",32.2,",,,U",Monterey.csv
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-03,NaN,NaN,NaN,NaN,58.2,",U",75.8,",,,U",40.6,",,,U",Monterey.csv
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-04,NaN,NaN,NaN,NaN,63.5,",U",81.5,",,,U",45.6,",,,U",Monterey.csv
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,163.7,2013-05,NaN,NaN,NaN,NaN,67.2,",U",84.9,",,,U",49.4,",,,U",Monterey.csv

### Review & cleanse data

In [3]:
#Drop excess columns
county_df = county_df.drop(['ELEVATION','PRCP_ATTRIBUTES','TAVG_ATTRIBUTES','TMAX_ATTRIBUTES',
                            'TMIN_ATTRIBUTES','AWND_ATTRIBUTES'],1)
county_df.tail()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
78158,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2012-12,NaN,8.21,NaN,NaN,NaN,Alameda.csv
78159,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-01,NaN,0.38,NaN,NaN,NaN,Alameda.csv
78160,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-02,NaN,0.50,NaN,NaN,NaN,Alameda.csv
78161,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-03,NaN,0.92,NaN,NaN,NaN,Alameda.csv
78162,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-04,NaN,1.39,NaN,NaN,NaN,Alameda.csv

In [4]:
#Confirm datatypes for each column
county_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78163 entries, 0 to 78162
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   STATION    78163 non-null  object
 1   NAME       78163 non-null  object
 2   LATITUDE   78163 non-null  float64
 3   LONGITUDE  78163 non-null  float64
 4   DATE       78163 non-null  object
 5   AWND       6557 non-null   float64
 6   PRCP       59293 non-null  float64
 7   TAVG       43168 non-null  float64
 8   TMAX       43802 non-null  float64
 9   TMIN       43692 non-null  float64
 10  COUNTY     78163 non-null  object
dtypes: float64(7), object(4)
memory usage: 6.6+ MB

In [5]:
#Check for null data
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
AWND          6557
PRCP         59293
TAVG         43168
TMAX         43802
TMIN         43692
COUNTY       78163
dtype: int64

In [6]:
# Drop the .csv from the County column
county_df['COUNTY'] = county_df['COUNTY'].str.replace(r'\.csv', '')
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,NaN,45.4,60.6,30.3,Monterey
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,NaN,48.5,64.7,32.2,Monterey
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,NaN,58.2,75.8,40.6,Monterey
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,NaN,63.5,81.5,45.6,Monterey
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,NaN,67.2,84.9,49.4,Monterey

In [7]:
# Collapse SD1 & SD2, LA1 & LA2
county_df['COUNTY'] = county_df['COUNTY'].str.replace(r'(_).*', '')
county_df.head()

# dataframe.column.str.replace("(::).*","")

,STATION,NAME,LATITUDE,LONGITUDE,DATE,AWND,PRCP,TAVG,TMAX,TMIN,COUNTY
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,NaN,45.4,60.6,30.3,Monterey
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,NaN,48.5,64.7,32.2,Monterey
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,NaN,58.2,75.8,40.6,Monterey
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,NaN,63.5,81.5,45.6,Monterey
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,NaN,67.2,84.9,49.4,Monterey

### Drop unneeded data
AWND, TAVG & TMIN

In [8]:
#Drop columns
county_df = county_df.drop(['AWND','TAVG','TMIN',],1)
# county_df.tail()
county_df.count()

STATION      78163
NAME         78163
LATITUDE     78163
LONGITUDE    78163
DATE         78163
PRCP         59293
TMAX         43802
COUNTY       78163
dtype: int64

In [9]:
#Drop null data from PRCP
# county_df = county_df.dropna(subset = ['PRCP'])
# county_df.count()

## Calculate missing data & replace NaNs

### Calculate TMAX median

In [10]:
#Group the DF by County & Date, then calculate 
MED = county_df.groupby(['COUNTY','DATE'])[['TMAX']].apply(np.nanmedian)
MED.name = 'MEDIAN_TMAX'
county_df = county_df.join(MED, on=['COUNTY','DATE'])
county_df.head()

/Users/kaitlin/opt/anaconda3/lib/python3.8/site-packages/numpy/lib/nanfunctions.py:1113: RuntimeWarning: All-NaN slice encountered
  r, k = function_base._ureduce(a, func=_nanmedian, axis=axis, out=out,

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,64.7,Monterey,62.05
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,75.8,Monterey,67.60
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,81.5,Monterey,69.35
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,84.9,Monterey,73.70

### Calculate TMAX maximum

In [11]:
#Group the DF by County & Date, then calculate 
MAX = county_df.groupby(['COUNTY','DATE'])[['TMAX']].apply(np.nanmax)
MAX.name = 'MAXIM_TMAX'
county_df = county_df.join(MAX, on=['COUNTY','DATE'])
county_df.head()

/Users/kaitlin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/groupby/ops.py:965: RuntimeWarning: All-NaN axis encountered
  return libreduction.apply_frame_axis0(sdata, f, names, starts, ends)

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX,MAXIM_TMAX
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,64.7,Monterey,62.05,65.8
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,75.8,Monterey,67.60,75.8
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,81.5,Monterey,69.35,81.5
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,84.9,Monterey,73.70,84.9

### Calculate PRCP mean

In [12]:
#Group the DF by County & Date, then calculate 
MEAN = county_df.groupby(['COUNTY','DATE'])[['PRCP']].apply(np.nanmean)
MEAN.name = 'MEAN_PRCP'
county_df = county_df.join(MEAN, on=['COUNTY','DATE'])
county_df.head()

/Users/kaitlin/opt/anaconda3/lib/python3.8/site-packages/pandas/core/groupby/ops.py:965: RuntimeWarning: Mean of empty slice
  return libreduction.apply_frame_axis0(sdata, f, names, starts, ends)

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX,MAXIM_TMAX,MEAN_PRCP
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,1.181500
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,64.7,Monterey,62.05,65.8,0.660526
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,75.8,Monterey,67.60,75.8,0.725000
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,81.5,Monterey,69.35,81.5,0.407778
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,84.9,Monterey,73.70,84.9,0.030588

### Calculate monthly precipitation

In [13]:
#Group the DF by County & Date, then calculate 
SUM = county_df.groupby(['COUNTY','DATE'])[['PRCP']].apply(np.nansum)
SUM.name = 'SUM_PRCP'
county_df = county_df.join(SUM, on=['COUNTY','DATE'])
county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX,MAXIM_TMAX,MEAN_PRCP,SUM_PRCP
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,1.181500,23.63
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-02,NaN,64.7,Monterey,62.05,65.8,0.660526,12.55
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-03,NaN,75.8,Monterey,67.60,75.8,0.725000,13.05
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-04,NaN,81.5,Monterey,69.35,81.5,0.407778,7.34
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-05,NaN,84.9,Monterey,73.70,84.9,0.030588,0.52

In [14]:
#Check data for one month to check the columns created properly
county_df[county_df["DATE"]=='2013-01']

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX,MAXIM_TMAX,MEAN_PRCP,SUM_PRCP
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.864400,-120.803100,2013-01,NaN,60.6,Monterey,60.75,64.2,1.181500,23.63
84,US1CAMT0023,"BIG SUR 9.5 NNW, CA US",36.398021,-121.868511,2013-01,2.92,NaN,Monterey,60.75,64.2,1.181500,23.63
144,US1CAMT0022,"CARMEL VALLEY VILLAGE 5.4 WNW, CA US",36.521800,-121.810000,2013-01,1.77,NaN,Monterey,60.75,64.2,1.181500,23.63
162,USC00044555,"KING CITY, CA US",36.206900,-121.137700,2013-01,0.71,63.1,Monterey,60.75,64.2,1.181500,23.63
246,US1CAMT0021,"MARINA 0.8 SSE, CA US",36.673173,-121.784101,2013-01,0.69,NaN,Monterey,60.75,64.2,1.181500,23.63
...,...,...,...,...,...,...,...,...,...,...,...,...
77799,USR0000COKS,"OAKLAND SOUTH CALIFORNIA, CA US",37.786100,-122.144700,2013-01,NaN,54.0,Alameda,56.00,60.5,0.555625,8.89
77895,USR0000CCLV,"CALAVERAS ROAD CALIFORNIA, CA US",37.553100,-121.843900,2013-01,NaN,52.0,Alameda,56.00,60.5,0.555625,8.89
77990,USC00046144,"NEWARK, CA US",37.514700,-122.032500,2013-01,0.27,56.3,Alameda,56.00,60.5,0.555625,8.89
78086,US1CAAL0007,"FREMONT 2.6 ESE, CA US",37.515049,-121.952305,2013-01,0.43,NaN,Alameda,56.00,60.5,0.555625,8.89
78159,US1CAAL0008,"BERKELEY 3.8 ESE, CA US",37.855675,-122.230053,2013-01,0.38,NaN,Alameda,56.00,60.5,0.555625,8.89

### Export CSV

In [15]:
county_df.to_csv("Resources/county_clean.csv")

# Don't join in pandas, join with SQL query

In [16]:
wildfire_df = pd.read_csv("Resources/wildfire_clean.csv")
wildfire_df

In [20]:
#Join wildfire & county data on COUNTY NAME & DATE
# merged_df = left_df.merge(right_df, how='inner', left_on=["A", "B"], right_on=["A2","B2"])

wildfire_county_df = wildfire_df.merge(county_df, left_on=['Counties','Year-Month'], right_on=['COUNTY', 'DATE'])
wildfire_county_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,DATE,PRCP,TMAX,COUNTY,MEDIAN_TMAX,MAXIM_TMAX,...,CrewsInvolved,Fatalities,Latitude,Longitude,Name,PersonnelInvolved,Started,StructuresDamaged,StructuresDestroyed,UniqueId
0,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,...,NaN,NaN,0.0000,0.0000,Pfeiffer Fire,NaN,2013-12-16T00:20:00Z,NaN,NaN,0681ea77-2e43-43c4-9ae9-34fb168c0c03
1,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,...,NaN,NaN,0.0000,0.0000,Tassajara Fire,NaN,2013-07-17T13:23:00Z,NaN,NaN,0d38ff45-833e-488a-881f-30f24678c49c
2,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,...,NaN,NaN,36.1531,-120.8973,Freeman Fire,NaN,2013-06-29T14:09:00Z,NaN,NaN,58317b8d-7f4d-466f-b2c7-035c25fb00f0
3,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,...,NaN,NaN,0.0000,0.0000,Stoney Fire,NaN,2014-06-19T15:14:00Z,NaN,NaN,e54fa953-24b9-4581-86f3-9931fdf3ca5e
4,USR0000CBDY,"BRADLEY CALIFORNIA, CA US",35.8644,-120.8031,2013-01,NaN,60.6,Monterey,60.75,64.2,...,NaN,NaN,36.6313,-121.4819,Encinal Fire,NaN,2014-03-19T16:45:00Z,NaN,NaN,cb580f06-5d43-46aa-8b2c-f2b5a21eff02

In [21]:
 wildfire_county_df.count()

STATION                1607067
NAME                   1607067
LATITUDE               1607067
LONGITUDE              1607067
DATE                   1607067
PRCP                   1168520
TMAX                    956065
COUNTY                 1607067
MEDIAN_TMAX            1601410
MAXIM_TMAX             1601410
MEAN_PRCP              1606740
SUM_PRCP               1607067
Unnamed: 0             1607067
AcresBurned            1607067
ArchiveYear            1607067
Counties               1607067
CountyIds              1607067
CrewsInvolved           146436
Fatalities               10104
Latitude               1607067
Longitude              1607067
Name                   1607067
PersonnelInvolved       179544
Started                1607067
StructuresDamaged        49035
StructuresDestroyed     126697
UniqueId               1607067
dtype: int64